<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<title>Document</title>
<link rel="stylesheet" href="../css/organizer.css">
<link rel="stylesheet" href="../css/footer.css">
<link rel="stylesheet" href="../css/problem_solving.css">
</head>
<body style="background-color: #150050;">
    <div class="container">
        <div class="p-subTitle org">Organizers</div><br><br>
        <div class="row" style="padding-left: 20px; padding-bottom: 50px;">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="img-container">
                    <div class="skewed">
                        <div id="c1"></div>
                    </div>
                </div>
                <div class="content1">
                    <h2>Balaji J</h2>
                    <p>Organizer</p>
                </div>
            </div>
            
    
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="img-container">
                    <div class="skewed">
                        <div id="c2"></div>
                    </div>
                </div>
                <div class="content1">
                    <h2>Adhithyan G</h2>
                    <p>Organizer</p>
                </div>
            </div>
    
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="img-container">
                    <div class="skewed">
                        <div id="c3"></div>
                    </div>
                </div>
                <div class="content1">
                    <h2>Sathya</h2>
                    <p>Organizer</p>
                </div>
            </div>
        </div>
    
    
        <div class="row" style="padding-left: 20px; padding-bottom: 50px;">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="img-container">
                    <div class="skewed">
                        <div id="c4"></div>
                    </div>
                </div>
                <div class="content1">
                    <h2>Sanjay B</h2>
                    <p>Organizer</p>
                </div>
            </div>
            
    
            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="img-container">
                    <div class="skewed">
                        <div id="c5"></div>
                    </div>
                </div>
                <div class="content1">
                    <h2>Aakash G</h2>
                    <p>Organizer</p>
                </div>
            </div>
    
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="img-container">
                    <div class="skewed">
                        <div id="c6"></div>
                    </div>
                </div>
                <div class="content1">
                    <h2>Abinaya A</h2>
                    <p>Organizer</p>
                </div>
            </div>
        </div>
    
        <div class="row" style="padding-left: 20px; padding-bottom: 50px;">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="img-container">
                    <div class="skewed">
                        <div id="c7"></div>
                    </div>
                </div>
                <div class="content1">
                    <h2>Jayashree</h2>
                    <p>Organizer</p>
                </div>
            </div>
            
    
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="img-container">
                    <div class="skewed">
                        <div id="c8"></div>
                    </div>
                </div>
                <div class="content1">
                    <h2>Sruthy</h2>
                    <p>Organizer</p>
                </div>
            </div>
    
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="img-container">
                    <div class="skewed">
                        <div id="c9"></div>
                    </div>
                </div>
                <div class="content1">
                    <h2>Varushni P</h2>
                    <p>Organizer</p>
                </div>
            </div>
        </div>
     </div>
    </div>

    <footer style="margin-top: 100px;">
        <div class="content">
            <div class="top">
                <div class="logo-details">
                    <span class="logo_name">Techathon 2021</span>
                </div>
            </div>
            <div class="link-boxes">
                <ul class="box">
                    <li class="link_name">Links</li>
                    <li><a href="../../index.html">Home</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>

                <ul class="box ">
  
                </ul>
     
                <ul class="box">
                    <li class="link_name">Events</li>
                    <li><a href="ideate.html">Ideate</a></li>
                    <li><a href="code_x.html">Code-X.</a></li>
                    <li><a href="data_dash.html">Data Dash</a></li>
                    <li><a href="projects_inc.html">Projects Inc.</a></li>
                    <li><a href="techno_quiz.html">Techno Quiz</a></li>
                    <li><a href="product_development.html">Product Development</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>